<p>{{treeData}}</p>
<!--<span id="{{treeData.id}}" class="treeDB" >

  {{treeData}}
</span>
<ul ng-show="{{treeData.id}}">
  <li ng-repeat="child in treeData.children">
    <tree treeData="child"></tree>
  </li>
</ul>


<span id="{{d.id}}" ng-click="clicked(d)" class="treeDB" ng-switch on="{{d.id}}">
  <img ng-switch-when=true ng-src="css/png/glyphicons_144_folder_open.png"></img>
  <img ng-switch-default ng-src="css/png/glyphicons_440_folder_closed.png"></img>
  {{d.name}}
</span>
<ul ng-show="{{d.id}}">
  <li ng-repeat="t in d.children">
    <span id="{{t.id}}" ng-click="clicked(t)" class="treeTable">{{t.name}}</span>
  </li>
</ul>-->
