<div>
	<h4> HDFS </h4>
	<div style="margin:10px 0 30px 0; padding:10px; background-color:#EEEEEE; border-radius:5px; font:12px Tahoma;">
		<span><b>Selected Node</b> : {{selected}}</span>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#queryModal" style="float: right;">Query</button>
	</div>
	<div class="container">
		<div style="float:left;">
			<h5> File System </h5>

			<div class="tree" ng-controller="HdfsSetup">
				<tree treeData="hdfs"></tree>
			<!--<ul>
					<li ng-repeat="d in hdfs">
						<div>
							<dir ng-switch on="{{d.dir}}">
								<dir ng-switch-when=true>
									<span id="{{d.id}}" ng-click="clicked(d)" class="treeDB" ng-switch on="{{d.id}}">
										<img ng-switch-when=true ng-src="css/png/glyphicons_144_folder_open.png"></img>
										<img ng-switch-default ng-src="css/png/glyphicons_440_folder_closed.png"></img>
										{{d.name}}
									</span>
									<ul ng-show="{{d.id}}">
										<li ng-repeat="t in d.children">
											<span id="{{t.id}}" ng-click="clicked(t)" class="treeTable">{{t.name}}</span>
										</li>
									</ul>
								</dir>
								<dir ng-switch-when=false>
									<span id="{{d.id}}" ng-click="clicked(d)" class="treeDB">
										<img ng-switch-when=false ng-src="css/png/glyphicons_036_file.png"></img>
										{{d.name}}
									</span>
								</dir>
							</dir>
						</div>
					</li>
				</ul>-->
			</div>
		</div>
		<div class="info">
			<h5>Info</h5>
			<table style="width:100%;" class="basicTable">
				<thead>
					<tr>
						<td>Setting</td>
						<td>Value</td>
					</tr>
				</thead>
				<tbody ng-repeat="r in info">
					<tr>
						<td>{{r.key}}</td>
						<td>{{r.value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
