doctype html
html
  head
    title= title
    script(src="js/jquery.js")
    script(src="js/bootstrap.js")
    script(src="/socket.io/socket.io.js")
    script(src="js/d3.v3.min.js")
    link(rel="stylesheet" href="css/bootstrap.css")
  body
    block content